
.Clearblue_003 .s3_tilte {font-size:30px; left:90px; top:100px; position:absolute;}

.Clearblue_003 .cirl {background:url(../images/cirl.png); width:412px; height:413px; left:310px; top:220px; position:absolute; }

.Clearblue_003 .par1 {background:url(../images/p1.png); width:412px; height:413px; left:0px; top:0px; position:absolute;}
.Clearblue_003 .par2 {background:url(../images/p2.png); width:412px; height:413px; left:0px; top:0px; position:absolute;}
.Clearblue_003 .par3 {background:url(../images/p3.png); width:412px; height:413px; left:0px; top:0px; position:absolute;}
.Clearblue_003 .par4 {background:url(../images/p4.png); width:412px; height:413px; left:0px; top:0px; position:absolute;}
.Clearblue_003 .par5 {background:url(../images/p5.png); width:412px; height:413px; left:0px; top:0px; position:absolute;}
.Clearblue_003 .par6 {background:url(../images/p6.png); width:412px; height:413px; left:0px; top:0px; position:absolute;}

.Clearblue_003 .per1 {font-size:24px; left:158px; top:58px; position:absolute;}
.Clearblue_003 .per2 {font-size:24px; left:237px; top:58px; position:absolute;}
.Clearblue_003 .per3 {font-size:24px; left:328px; top:170px; position:absolute;}
.Clearblue_003 .per4 {font-size:24px; left:193px; top:360px; position:absolute;}
.Clearblue_003 .per5 {font-size:24px; left:140px; top:360px; position:absolute;}
.Clearblue_003 .per6 {font-size:24px; left:38px; top:170px; position:absolute;}

.Clearblue_003 .line1 {background:url(../images/line1.png); width:302px; height:38px; left:155px; top:255px; position:absolute;}
.Clearblue_003 .line2 {background:url(../images/line2.png); width:285px; height:63px; left:610px; top:255px; position:absolute;}
.Clearblue_003 .line3 {background:url(../images/line3.png); width:228px; height:10px; left:660px; top:435px; position:absolute;}
.Clearblue_003 .line4 {background:url(../images/line4.png); width:372px; height:47px; left:520px; top:565px; position:absolute;}
.Clearblue_003 .line5 {background:url(../images/line5.png); width:313px; height:46px; left:165px; top:565px; position:absolute;}
.Clearblue_003 .line6 {background:url(../images/line6.png); width:228px; height:9px; left:150px; top:435px; position:absolute;}

.Clearblue_003 .text_l1 {font-size:22px; left:0px; top:-30px; position:absolute; width:300px;}
.Clearblue_003 .text_l2 {font-size:22px; left:136px; top:-30px; position:absolute; width:300px;}
.Clearblue_003 .text_l3 {font-size:22px; left:130px; top:-26px; position:absolute; width:300px;}
.Clearblue_003 .text_l4 {font-size:22px; left:248px; top:14px; position:absolute; width:300px;}
.Clearblue_003 .text_l5 {font-size:22px; left:-2px; top:14px; position:absolute; width:300px;}
.Clearblue_003 .text_l6 {font-size:22px; left:0px; top:-26px; position:absolute; width:300px;}

.Clearblue_003 .text_l11 {font-size:14px; left:0px; top:7px; position:absolute; width:300px;}
.Clearblue_003 .text_l22 {font-size:14px; left:176px; top:7px; position:absolute; width:300px;}
.Clearblue_003 .text_l33 {font-size:14px; left:-74px; top:12px; position:absolute; width:300px; text-align:right;}
.Clearblue_003 .text_l44 {font-size:14px; left:267px; top:53px; position:absolute; width:300px;}
.Clearblue_003 .text_l66 {font-size:14px; left:0px; top:12px; position:absolute; width:300px;}

.Clearblue_003 .claim_bot {font-size:20px; left:90px; top:635px; position:absolute;}

.Clearblue_003 .flyer {position:absolute;}
.Clearblue_003 .close_ref {width:32px; height:32px; background:url(../../../global/images/close_btn.png) no-repeat; bottom:0px  !important; right:0px !important; z-index: 10;}
.Clearblue_003 .ref1{width:50px ;height:50px; left: 855px; top: 87px;  z-index:2; }
.Clearblue_003 .refCo1 {width:385px; height:177px; background:url(../../../global/images/ref.jpg) no-repeat; bottom:85px; right:0px; z-index: 10; display:none;}

